@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: source-serif-4, serif; 
}

:root {
  --mainColor: #8C1515;
  --mainColorHighlight: white;
  --secondaryColor: black;
  --textColor: white;
  --textBtnColor: black;
  --headlineFont: 'source sans 3';
  --bodyFont: 'source serif 4';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
