.step-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: black;
  padding: 20px;
}

.empty-message {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
