:root {
    --container-height: 50vh;
    --container-width: 30vw;
    --border-values: 0.8px solid rgb(219, 219, 219);
    --about-me-height: 25vh;
    --about-me-width: 28vw;
    --default-gap-size: 5px;
}

.parent-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 10px 0px 10px 0px;
    margin: 20px 10px 20px 10px;
    gap: var(--default-gap-size);
}

.profile-header {
    height: calc(var(--container-height) - 15);
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap-size);
    border: var(--border-values);
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 25px 10px 25px 10px;  
}

.username-display {
    font-size: 30px;
    margin-bottom: 10px;
}

.information-container {
    height: var(--container-height);
    width: var(--container-width);
    border: var(--border-values);
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px;
    margin: 24px 40px 0 40px;
    gap: 24px;
    font-size: 24px;
    justify-content: space-around;
}

.text-entry {
    display: flex;
    flex-direction: row;
    gap: var(--default-gap-size);
}

.about-me {
    height: var(--about-me-height);
    width: var(--about-me-width);
}

.bigTextBox {
    height: var(--about-me-height);
    width: var(--about-me-width);
    border: var(--border-values);
    padding: 0 8px;
    font-size: 16px;
}

img {
    height: 10vh;
    width: 5vw;
    border-radius: 100px;
}

.profile-footer {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap-size);
}

.button {
    height: 40px;
    border-radius: 4px;
    border: var(--border-values);
    padding: 0 8px;
    font-size: 16px;
    background-color: var(--mainColor);
    color: var(--mainColorHighlight);
}
