.profile-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10px 0px 10px 0px;
}

.information-container {
    height: 50vh;
    width: 30vw;
    border: 0.8px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px;
    margin: 24px 40px 0 40px;
    gap: 24px;
    font-size: 24px;
}

.basic {
    justify-content: space-evenly;
}

.button {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 8px;
    font-size: 16px;
    background-color: var(--mainColor);
    color: var(--mainColorHighlight);
}

.text-entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bigTextBox {
    height: 70%;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 8px;
    font-size: 16px;
}

img {
    height: 10vh;
    width: 5vw;
    border-radius: 100px;
}
