.divAdd {
    border: 1px solid black; 
    width: 300px; 
    height: 500px;
    display: flex; 
    align-items: center;
    justify-content: center;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.divAdd:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

button.fill-div{
    background-color: transparent;
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
  }